:root {
  --fs-x-small: 12px; /* Note */
  --fs-small: 14px; /* Text + CategoryWrapper */
  --fs-medium: 16px; /* Switcher - Text */
  --fs-large: 24px; /* ListName in Switcher */
  --fs-x-large: 32px; /* PageName */

  --fw-normal: normal; /* ? Should use root or classic ( font-weight: normal; )  */
  --fw-bold: bold; /* ? Should use root or classic ( font-weight: normal; )  */

  --color-gray-default: #e7e8e9; /* Sidebar */
  --color-gray-darken-1: #dadbdc; /* Search */
  --color-gray-darken-2: #d0d1d2; /* Switcher body */
  --color-gray-darken-3: #cecfd0; /* Selected Category */
  --color-gray-darken-4: #919191; /* Text notes for Task-note */
  --color-gray-darken-5: #5a626a; /* background-color for Icon-all */

  --color-blue-lighten: #5d98f7; /* Selected Category */
  --color-blue-default: #077afe; /* Default color */

  --color-red-default: #ff3a2f; /* Scheduled */

  --color-orange-default: #ff9502; /* Flagged */

  --color-green-default: #19c759; /* Extra color for Category-Icon */

  --btn-border-radius: 6px;
}
